body {
  margin: 20px;
  background-color: #000;
}

.external {
  box-sizing: border-box;
  background-color: #3a92c3;
  width: 350px;
}

section,
.external {
  padding: 10px;
  border: 1px solid  #e95d49;
}

section {
  background-color: #fea90d;
}

.inner {
  border: 1px solid #e95d49;
  padding: 10px;
  background-color: #ddd;
  margin: 0;
}

.distance {
  margin-top: 40px;
}
